{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <div class="page-header-back">
    </div>
    <div class="header-text">
        <div>
            <h1>Теннис</h1>
            <p>Задача ─ отправить удар, который соперник не сможет отразить. Теннис ─ олимпийский вид спорта, регулярно проводятся мужские и женские турниры. Самые престижные турниры Большого шлема, в которые входят Открытые чемпионаты Австралии, Франции, США и Уимблдон. Цитаты знаменитых теннисистов ─ это высказывания богатых людей, ставших кумирами поклонников игр.</p>
        </div>
    </div>
</div>
<div class="container">
    text
</div>
<div class="container">
    text
</div>
<div class="container">
    text
</div>
<div class="container">
    text
</div>
<div class="container">
    text
</div>
<div class="container">
    text
</div>
<div class="container">
    text
</div>

{% endblock %}